{
  "presets": [["env", {
    "targets": {
      "browsers": [">1%"]
    },
    "modules": false
  }]],
  "env": {
    "dev": {
      "presets": ["env"]
    },
    "test": {
      "presets": ["env"]
    }
  }
}
