# =============== log ignore
node_modules/

# =========================== DO NOT touch below v1.0.0 ===============================

# =============== RubyMine.gitignore
# =============== PhPStorm.gitignore
.idea
*.iml


# =============== OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride

npm-debug.log

.publishrc

# ==== build output
dist
web

coverage
