# v1.0.4 2015-05-06


# ------------------------------------------------------------------------------
# Add your custom excludes below
# ------------------------------------------------------------------------------
.nyc_output/
.npmrc
.vscode/
.tern-project
lib/
src/
script/
example/
.babelrc
.eslintignore
.flowconfig
.gitignore
.publishrc
.stylelintrc
example.config.json
gulfile.babel.js
jest.config.json
litmus-support-clients.js
flow-typed
__tests__/
webpack.config.js
.eslintrc


# =============== log ignore builtAssets

/tmp/*
/builtAssets/*
*.log
.nyc_output/
coverage/

# =========================== DO NOT touch below v1.0.3 ===============================


node_modules

# =============== RubyMine.gitignore
# =============== PhPStorm.gitignore
.idea


# =============== OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# =============== # Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Except the .htpassed
!.htpasswd
!.nodemonignore

npm-debug.log

dump.rdb








# FROM https://github.com/niftylettuce/node-email-templates/blob/master/.gitignore

# ------------------------------------------------------------------------------
# Common Node files and folders
#  https://github.com/github/gitignore/blob/master/Node.gitignore
# ------------------------------------------------------------------------------

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
log
results

node_modules
npm-debug.log


# ------------------------------------------------------------------------------
# Nodemon
# ------------------------------------------------------------------------------

.monitor


# ------------------------------------------------------------------------------
# JSHint
# ------------------------------------------------------------------------------

jshint


# ------------------------------------------------------------------------------
# Numerous always-ignore extensions
# ------------------------------------------------------------------------------

*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache


# ------------------------------------------------------------------------------
# Files from other repository control systems
# ------------------------------------------------------------------------------

.hg
.svn
.CVS


# ------------------------------------------------------------------------------
# PHPStorm, RubyMine
# ------------------------------------------------------------------------------

.idea


# ------------------------------------------------------------------------------
# OS X and other IDE's folder attributes
# ------------------------------------------------------------------------------

.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace


# ------------------------------------------------------------------------------
# Dreamweaver added files
# ------------------------------------------------------------------------------

_notes
dwsync.xml


# ------------------------------------------------------------------------------
# Komodo
# ------------------------------------------------------------------------------

*.komodoproject
.komodotools
bower_components

config/examples.json
config.json

# ------------------------------------------------------------------------------
# customized scripts
# ------------------------------------------------------------------------------
scripts
